<div class="container">
<section class="container" th:fragment="conteudoHomePrincipal">
<h3 class="page-header"> Controle de Veículos Web </h3>
				<div class="panel panel-primary">
					<div class="panel-heading">
						Informações Sobre o Sistema
					</div>				
					<div class="panel-body">						
									<strong>Objetivo:</strong> 
									Gerenciar de forma eficiente os veículos da TESLA INC.
									<hr>
									<strong>Tecnologias Utilizadas:</strong>
									Spring Web,
									Spring Data JPA,
									Banco de Dados MySql.
				</div>
</section>
</div>